<div class="page">
	<h1 class="page__title">{{ title }}</h1>

	<h2 class="page__standfirst">{{ description }}</h2>

	<div class="list">
		{{#each data}}
			<article class="list__item">
				<h2 class="list__title">
					<a class="list__link" href="{{ section }}/{{ slug }}">
						{{ title }}
					</a>
				</h2>
			</article>
		{{/each}}
	</div>
</div>
